.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.actions {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
}


.actions input {
    flex: 1;
    margin-right: 1rem;

}

.createBtn {
    padding: 6px 12px;
    font-size: 16px;
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;

}

.createBtn:hover {
    background: #0056b3;
}